.health {
  padding: 26rpx 0;
  box-sizing: border-box;
	.swiper{
		width: 686rpx;
		height: 350rpx;
		margin: auto;
		.swiper-item{
			width: 686rpx;
			height: 350rpx;
			image{
				width: 686rpx;
				height: 350rpx;
			}
		}
	}
}
.banner {
  width: 698rpx;
  margin: 0 26rpx;
}
.videos{
  width: 100%;
  margin: 20rpx auto;
}
.video{
	  width: 686rpx;
	  height: 350rpx;
	  margin: auto;
	  margin-top: 24rpx;
	  position: relative;
	  .time{
		  font-size: 24rpx;
		  font-family: zcoolqingkehuangyouti-Regular, zcoolqingkehuangyouti;
		  font-weight: 400;
		  color: #FFFFFF;
		  position: absolute;
		  left: 24rpx;
		  bottom: 24rpx;
		  z-index: 2;
	  }
	  image{
		  width: 686rpx;
		  height: 350rpx;
		  border-radius: 10rpx;
	  }
  }
  .title-button{
	  display: flex;
	  width: 750rpx;
	  padding: 0 56rpx;
	  justify-content: space-between;
	  align-items: center;
	  margin: 20rpx 0 56rpx 0;
	  image{
		  width: 64rpx;
		  height: 64rpx;
		  border-radius: 50%;
		  box-shadow: 0px 2px 8px 0px rgba(7, 42, 2, 0.12);
	  }
  }
  .video-title{
	  width: 544rpx;
	  font-size: 32rpx;
	  color: #333333;
	  overflow: hidden;
	  white-space: nowrap;
	  text-overflow: ellipsis;
	  .detail{
		  width: 528rpx;
		  font-size: 24rpx;
		  color: #666666;
		  line-height: 24rpx;
		  margin-top: 16rpx;
	  }
  }
.funcs {
  display: flex;
  padding: 36rpx 0;
  border-radius: 10rpx;
  background: #ffffff;
  box-sizing: border-box;
  justify-content: space-around;
  margin: 16rpx 26rpx 43rpx 26rpx;
  .func {
    display: flex;
    align-items: center;
    flex-direction: column;
    .pic {
      width: 61rpx;
      height: 61rpx;
    }
    .text {
      font-size: 26rpx;
      color: #565656;
      margin-top: 21rpx;
    }
  }
}
.tip-more {
  display: flex;
  padding: 0 32rpx;
  align-items: center;
  box-sizing: border-box;
  justify-content: space-between;
  .shu-title{
	  display: flex;
	  align-items: center;
	  .shu{
		width: 8rpx;
		height: 32rpx;
		background: #0BC788;
		border-radius: 4rpx;
		margin-right: 12rpx;
	  }
	  .tip {
		font-size: 36rpx;
		color: #292929;
		font-weight: bold;
	  }
  }
  .more {
    display: flex;
    align-items: center;
	
    .text {
      font-size: 24rpx;
      color: #8e8e8e;
      line-height: 10rpx;
      margin-right: 10rpx;
    }
    .pic {
      width: 18rpx;
      height: 18rpx;
    }
  }
}
.scroll {
  width: 750rpx;
  height: 348rpx;
  margin-top: 30rpx;
  .items {
    display: flex;
    // width: 3248rpx;
    height: 348rpx;
    padding: 0 32rpx;
    box-sizing: border-box;
    justify-content: space-between;
    .item {
      width: 448rpx;
      height: 348rpx;
      border-radius: 10rpx;
      // background: #ffffff;
	  margin-right: 24rpx;
      .pic {
        width: 370rpx;
        height: 234rpx;
        border-top-left-radius: 10rpx;
        border-top-right-radius: 10rpx;
      }
      .title {
		  width: 370rpx;
        font-size: 32rpx;
        color: #333333;
        line-height: 32rpx;
		margin-top: 20rpx;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
      }
      .num-desc {
        display: flex;
        margin: 0 20rpx;
        align-items: center;
        justify-content: space-between;
        .desc {
          font-size: 22rpx;
          color: #797979;
        }
        .num {
          display: flex;
          align-items: center;
          justify-content: flex-end;
          .text {
            font-size: 22rpx;
            color: #a1a1a1;
            margin-left: 6rpx;
          }
          .icon {
            width: 26rpx;
            height: 26rpx;
          }
        }
      }
    }
  }
}
.knowledge-warp{
	width: 750rpx;
	padding: 0 32rpx;
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 24rpx;
	.knowledge{
		width: 331rpx;
		height: 400rpx;
		background: #FFFFFF;
		border-radius: 12rpx;
		image{
			width: 331rpx;
			height: 237rpx;
			border-radius: 10rpx 10rpx 0 0 ;
		}
		.title{
			width: 301rpx;
			font-size: 30rpx;
			color: #333333;
			line-height: 44rpx;
			display: -webkit-box;
			-webkit-box-orient: vertical;
			-webkit-line-clamp: 2;
			overflow: hidden;
			margin: auto;
		}
		.foot{
			display: flex;
			margin-top: 20rpx;
			padding: 0 15rpx;
			justify-content: space-between;
			.left{
				display: flex;
			}
			.time{
				font-size: 24rpx;
				color: #999999;
				line-height: 24rpx;
				margin-left: 10rpx;
			}
		}
	}
}
.article-part {
  margin: 36rpx 0 0 0;
  .articles {
    margin: 26rpx;
    border-radius: 10rpx;
    background: #ffffff;
    box-sizing: border-box;
    padding: 0 40rpx 0 28rpx;
    .article {
      display: flex;
      box-sizing: border-box;
      padding: 40rpx 0 38rpx 0;
      justify-content: space-between;
      border-bottom: 1rpx solid #f1f1f1;
      .text {
        width: 448rpx;
        .title {
          font-size: 30rpx;
          color: #333333;
          font-weight: bold;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
        .desc {
          margin: 20rpx 0;
          font-size: 24rpx;
          color: #797979;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
          overflow: hidden;
        }
        .tags {
          font-size: 22rpx;
          color: #4eb788;
        }
      }
      .pic {
        width: 172rpx;
        height: 106rpx;
        border-radius: 10rpx;
      }
    }
  }
}