.navlist {
  width: 100%;
  margin-top: 30upx;
  padding: 0 30upx;
  display: flex;

  .itemone {
    width: 330upx;
    height: 140upx;
    background: linear-gradient(-45deg, rgba(215, 168, 237, 1), rgba(225, 169, 237, 1));
    border-radius: 9upx;
    margin-right: 30upx;
    padding: 29upx 0 29upx 19upx;
    box-sizing: border-box;
    display: flex;
  }

  .itemtwo {
    width: 330upx;
    height: 140upx;
    background: linear-gradient(-45deg, rgba(147, 235, 207, 1), rgba(116, 237, 211, 1));
    ;
    border-radius: 9upx;
    padding: 29upx 0 29upx 19upx;
    box-sizing: border-box;
    display: flex;
  }

  .icom {
    width: 80upx;
    height: 80upx;
    margin-right: 28upx;
  }

  .fxtext {
    width: 200upx;
    color: #fff;

    .ftext {
      font-size: 28upx;
      margin-bottom: 10upx;
      font-weight: bold;
    }

    .wtext {
      font-size: 15upx;
    }
  }
}

.ztmap {
  width: 690upx;
  height: 300upx;
  margin: 31upx auto;
}

.ztebs {
  width: 710upx;
  margin: auto;
}

.vieolist {
  width: 690upx;
  margin:20upx auto;
  text-align: center;
  .list_data {
    width: 690upx;
    height: 360upx;
    margin: auto;
    background: rgba(221, 221, 221, 1);
    border-radius: 9upx;
  }
  .viodetitle{
    font-size: 28upx;
    padding: 0 10upx;
    line-height: 28upx;
    border: solid 1px #cccccc;
    display: inline-block;
    text-align: center;
  }
}
