page{
  background: #f8f8f8;
}
.mt20{
  margin: 20rpx auto;
}
.flex{
  display: flex;
}
.main-between{
  justify-content: space-between;
}
.box-center{
  align-items: center;
}
.mr35{
  margin-right: 35rpx;
}
.main-start{
  justify-content: center;
}
.dir-top{
  flex-wrap: wrap;
}
.flex-center{
  display: flex;
  justify-content:center;
}
