.user {
  width: 686rpx;
  margin: 56rpx auto;
  display: flex;
  align-items: center;

  .name {
    margin-left: 16rpx;
    color: #333333;

    .username {
      font-size: 30rpx;
      margin-bottom: 18rpx;
      font-weight: bold;
    }

    .phone {
      font-size: 24rpx;
    }
  }

  .godeil {
    margin-left: auto;
    width: 124rpx;
    line-height: 48rpx;
    border-radius: 25rpx;
    color: #999999;
    border: 1px solid #999999;
    font-size: 24rpx;
    text-align: center;
  }
}

.usermenu {
  width: 686rpx;
  display: flex;
  justify-content: space-between;
  margin:0 auto 40rpx auto;

  .item {
    width: 331rpx;
    height: 138rpx;
    padding: 24rpx;
    background: #FFFFFF;
    border-radius: 12rpx;

    .title {
      font-size: 30rpx;
      color: #333333;
      font-weight: bold;
    }

    .block {
      display: flex;
      justify-content: space-between;
      margin-bottom: 21rpx;
    }

    .blocktext {
      color: #666666;
      font-size: 26rpx;

      .tip {
        width: 118rpx;
        line-height: 36rpx;
        padding: 0 10rpx;
        background: #FF834A;
        border-radius: 18rpx;
        font-size: 24rpx;
        text-align: center;
        color: #FFFFFF;
        margin-right: 29rpx;
      }
    }
  }
}

.listmenu {
  width: 686rpx;
  min-height: 613rpx;
  margin: auto;
  background: #FFFFFF;
  border-radius: 12rpx;
  padding: 1rpx 24rpx 1rpx 24rpx;
  .listitem{
     width: 100%;
     display: flex;
     align-items: center;
     margin: 60rpx auto;
     .title{
        color: #333333;
        font-size: 30rpx;
        margin-left: 22rpx;
        
      }
      .more{
        margin-left: auto;
        color: #A0A0A0;
      }
  }
  .line{
    width: 638rpx;
    margin: 63rpx auto;
    height: 1px;
    background: #EBEBEB;
  }
}
